In [1]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("jeffgallini/college-football-team-stats-2019")

print("Path to dataset files:", path)

Path to dataset files: C:\Users\Carl\.cache\kagglehub\datasets\jeffgallini\college-football-team-stats-2019\versions\10

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
cfb_21_df = pd.read_csv('resources/cfb21.csv')
cfb_22_df = pd.read_csv('resources/cfb22.csv')
cfb_23_df = pd.read_csv('resources/cfb23.csv')
print(cfb_21_df.head())

   Unnamed: 0                       Team  Games Win-Loss  Off Rank Off Plays  \
0           1  Air Force (Mountain West)     13     10-3        51       947
1           2                Akron (MAC)     12     2-10       106       783
2           3              Alabama (SEC)     15     13-2         7     1,119
3           4       App State (Sun Belt)     14     10-4        30       980
4           5           Arizona (Pac-12)     12     1-11       101       870

  Off Yards  Off Yards/Play  Off TDs  Off Yards per Game  ...  \
0     5,502            5.81       52               423.2  ...
1     4,089            5.22       29               340.8  ...
2     7,323            6.54       69               488.2  ...
3     6,178            6.30       55               441.3  ...
4     4,271            4.91       18               355.9  ...

   Average Time of Possession per Game Turnover Rank Fumbles Recovered  \
0                                36:35            31                 7
1                                31:08            98                 6
2                                31:43            21                 7
3                                31:10            91                 7
4                                30:13           130                 2

   Opponents Intercepted  Turnovers Gain  Fumbles Lost  \
0                      8              15             5
1                      6              12            12
2                     15              22             6
3                     15              22            14
4                      4               6             5

   Interceptions Thrown.y  Turnovers Lost  Turnover Margin  \
0                       4               9                6
1                       5              17               -5
2                       7              13                9
3                      12              26               -4
4                      18              23              -17

   Avg Turnover Margin per Game
0                          0.46
1                         -0.42
2                          0.60
3                         -0.29
4                         -1.42

[5 rows x 152 columns]

In [4]:
cfb_23_df.columns

Index(['Unnamed: 0', 'Off Rank', 'Team', 'Games', 'Win-Loss', 'Off Plays',
       'Off Yards', 'Off Yards/Play', 'Off TDs', 'Off Yards per Game',
       ...
       'Average Time of Possession per Game', 'Turnover Rank',
       'Fumbles Recovered', 'Opponents Intercepted', 'Turnovers Gain',
       'Fumbles Lost', 'Interceptions Thrown_y', 'Turnovers Lost',
       'Turnover Margin', 'Avg Turnover Margin per Game'],
      dtype='object', length=152)

In [5]:
# creating reduced versions of the following years of cfb data 21,22,23
cfb_21_reduced_df = cfb_21_df[['Team', 'Games', 'Win-Loss', 'Off Plays', 
                               'Off Yards', 'Off Yards/Play', 'Off TDs', 'Off Yards per Game']]

cfb_22_reduced_df = cfb_22_df[['Team', 'Games', 'Win-Loss', 'Off Plays', 
                               'Off Yards', 'Off Yards/Play', 'Off TDs', 'Off Yards per Game']]

cfb_23_reduced_df = cfb_23_df[['Team', 'Games', 'Win-Loss', 'Off Plays', 
                               'Off Yards', 'Off Yards/Play', 'Off TDs', 'Off Yards per Game']]

In [6]:
cfb_21_reduced_df.head()

,Team,Games,Win-Loss,Off Plays,Off Yards,Off Yards/Play,Off TDs,Off Yards per Game
0,Air Force (Mountain West),13,10-3,947,"5,502",5.81,52,423.2
1,Akron (MAC),12,2-10,783,"4,089",5.22,29,340.8
2,Alabama (SEC),15,13-2,"1,119","7,323",6.54,69,488.2
3,App State (Sun Belt),14,10-4,980,"6,178",6.30,55,441.3
4,Arizona (Pac-12),12,1-11,870,"4,271",4.91,18,355.9

In [7]:
cfb_23_top_50_df = cfb_23_reduced_df.head(25)
print(cfb_23_top_50_df)

                            Team Games Win-Loss Off Plays Off Yards  \
0                      LSU (SEC)    13     10-3       841      7065
1                Oregon (Pac-12)    14     12-2       951      7440
2              Oklahoma (Big 12)    13     10-3       974      6591
3                 Liberty (CUSA)    14     13-1       973      6988
4                  Georgia (SEC)    14     13-1       958      6951
5              North Texas (AAC)    12      5-7       911      5950
6           North Carolina (ACC)    13      8-5       958      6386
7                   UCF (Big 12)    13      6-7       895      6331
8                 Texas (Big 12)    14     12-2      1002      6685
9   Southern California (Pac-12)    13      8-5       823      6079
10                  TCU (Big 12)    12      5-7       909      5600
11           Washington (Pac-12)    15     14-1       985      6931
12                Ole Miss (SEC)    13     11-2       929      6005
13                 Memphis (AAC)    13     10-3       910      5960
14          Texas St. (Sun Belt)    13      8-5       958      5949
15                     SMU (AAC)    14     11-3      1020      6360
16              South Fla. (AAC)    13      7-6      1028      5871
17                     UAB (AAC)    12      4-8       853      5400
18               Tennessee (SEC)    13      9-4       899      5825
19              Arizona (Pac-12)    13     10-3       862      5824
20               Kansas (Big 12)    13      9-4       810      5799
21          App State (Sun Belt)    14      9-5      1006      6238
22           Kansas St. (Big 12)    13      9-4       959      5788
23      South Alabama (Sun Belt)    13      7-6       897      5722
24      Utah St. (Mountain West)    13      6-7       932      5702

   Off Yards/Play Off TDs Off Yards per Game
0            8.40      78              543.5
1            7.82      82              531.4
2            6.77      66              507.0
3            7.18      71              499.1
4            7.26      69              496.5
5            6.53      52              495.8
6            6.67      54              491.2
7            7.07      52              487.0
8            6.67      54              477.5
9            7.39      70              467.6
10           6.16      46              466.7
11           7.04      66              462.1
12           6.46      55              461.9
13           6.55      64              458.5
14           6.21      57              457.6
15           6.24      62              454.3
16           5.71      50              451.6
17           6.33      46              450.0
18           6.48      45              448.1
19           6.76      53              448.0
20           7.16      56              446.1
21           6.20      57              445.6
22           6.04      62              445.2
23           6.38      56              440.2
24           6.12      53              438.6

In [ ]:
# creating a bar graph to disply the total Off Yards per team

# creating the bar graph
plt.figure(figsize=(12, 14)) # setting the figure size
plt.bar(cfb_23_top_50_df['Team'], cfb_23_top_50_df['Off Yards'], color='blue')

# adding labels and titles
plt.title('Total Offensive Yards per Team 2023', fontsize=16)
plt.xlabel('Team', fontsize=10)
plt.ylabel('Off Yards', fontsize=14)

# Rotate x-axis labels
plt.xticks(rotation=45, ha='right', fontsize=12)

# display the graph
plt.tight_layout()
plt.show

In [21]:
# Create a copy of the DataFrame to avoid SettingWithCopyWarning
cfb_21_top_50_df = cfb_21_reduced_df.head(50).copy()
cfb_22_top_50_df = cfb_22_reduced_df.head(50).copy()
cfb_23_top_50_df = cfb_23_reduced_df.head(50).copy()

# Extract the conference from the 'Team' column
cfb_21_top_50_df.loc[:, 'Conference'] = cfb_21_top_50_df['Team'].str.extract(r'\((.*?)\)')
cfb_22_top_50_df.loc[:, 'Conference'] = cfb_22_top_50_df['Team'].str.extract(r'\((.*?)\)')
cfb_23_top_50_df.loc[:, 'Conference'] = cfb_23_top_50_df['Team'].str.extract(r'\((.*?)\)')

# Remove the conference part from the 'Team' column
cfb_21_top_50_df.loc[:, 'Team'] = cfb_21_top_50_df['Team'].str.replace(r'\(.*?\)', '', regex=True).str.strip()
cfb_22_top_50_df.loc[:, 'Team'] = cfb_22_top_50_df['Team'].str.replace(r'\(.*?\)', '', regex=True).str.strip()
cfb_23_top_50_df.loc[:, 'Team'] = cfb_23_top_50_df['Team'].str.replace(r'\(.*?\)', '', regex=True).str.strip()

cfb_23_top_50_df.head()

,Team,Games,Win-Loss,Off Plays,Off Yards,Off Yards/Play,Off TDs,Off Yards per Game,Conference
0,LSU,13,10-3,841,7065,8.40,78,543.5,SEC
1,Oregon,14,12-2,951,7440,7.82,82,531.4,Pac-12
2,Oklahoma,13,10-3,974,6591,6.77,66,507.0,Big 12
3,Liberty,14,13-1,973,6988,7.18,71,499.1,CUSA
4,Georgia,14,13-1,958,6951,7.26,69,496.5,SEC

In [43]:
# further cleaning the cfb_21_top_50_df 
# cfb_21_top_50_df['Off Yards'] = cfb_21_top_50_df['Off Yards'].str.replace('"', '', regex=False)  # Remove quotes
# cfb_21_top_50_df['Off Yards'] = cfb_21_top_50_df['Off Yards'].str.replace(',', '', regex=False)  # Remove commas
# cfb_21_top_50_df['Off Yards'] = pd.to_numeric(cfb_21_top_50_df['Off Yards'], errors='coerce')    # Convert to numeric

cfb_21_top_50_df['Off Plays'] = cfb_21_top_50_df['Off Plays'].str.replace('"', '', regex=False)  # Remove quotes
cfb_21_top_50_df['Off Plays'] = cfb_21_top_50_df['Off Plays'].str.replace(',', '', regex=False)  # Remove commas
cfb_21_top_50_df['Off Plays'] = pd.to_numeric(cfb_21_top_50_df['Off Plays'], errors='coerce')

In [44]:
cfb_21_top_50_df.head()

,Team,Games,Win-Loss,Off Plays,Off Yards,Off Yards/Play,Off TDs,Off Yards per Game,Conference
0,Air Force,13,10-3,947,5502,5.81,52,423.2,Mountain West
1,Akron,12,2-10,783,4089,5.22,29,340.8,MAC
2,Alabama,15,13-2,1119,7323,6.54,69,488.2,SEC
3,App State,14,10-4,980,6178,6.30,55,441.3,Sun Belt
4,Arizona,12,1-11,870,4271,4.91,18,355.9,Pac-12

In [45]:
# making sure 'off yards is numeric'
cfb_21_top_50_df['Off Yards'] = pd.to_numeric(cfb_21_top_50_df['Off Yards'], errors='coerce')
cfb_22_top_50_df['Off Yards'] = pd.to_numeric(cfb_22_top_50_df['Off Yards'], errors='coerce')
cfb_23_top_50_df['Off Yards'] = pd.to_numeric(cfb_23_top_50_df['Off Yards'], errors='coerce')

# handle NaN values if necessary
# for 2021
cfb_21_top_50_df = cfb_21_top_50_df.dropna(subset=['Off Yards'])
cfb_21_top_50_df = cfb_21_top_50_df.dropna(subset=['Conference'])
cfb_21_top_50_df = cfb_21_top_50_df[cfb_21_top_50_df['Conference'] != 'FL']
# for 2022
cfb_22_top_50_df = cfb_22_top_50_df.dropna(subset=['Off Yards'])
cfb_22_top_50_df = cfb_22_top_50_df.dropna(subset=['Conference'])
cfb_22_top_50_df = cfb_22_top_50_df[cfb_22_top_50_df['Conference'] != 'FL']
# for 2023
cfb_23_top_50_df = cfb_23_top_50_df.dropna(subset=['Off Yards'])
cfb_23_top_50_df = cfb_23_top_50_df.dropna(subset=['Conference'])
cfb_23_top_50_df = cfb_23_top_50_df[cfb_23_top_50_df['Conference'] != 'FL']

In [14]:
cfb_23_top_50_df.columns

Index(['Team', 'Games', 'Win-Loss', 'Off Plays', 'Off Yards', 'Off Yards/Play',
       'Off TDs', 'Off Yards per Game', 'Conference'],
      dtype='object')

In [46]:
cfb_21_top_50_df.to_csv('reduced/cfb_21_top_50.csv', index=False)
# cfb_22_top_50_df.to_csv('reduced/cfb_22_top_50.csv', index=False)
# cfb_23_top_50_df.to_csv('reduced/cfb_23_top_50.csv', index=False)

In [29]:
# creating data frames with the defensive stats for the top 50 teams
cfb_21_def_df = cfb_21_df[['Team','Def Rank','Def Plays','Yards Allowed','Yards/Play Allowed','Off TDs Allowed',
                                   'Total TDs Allowed','Yards Per Game Allowed']]
cfb_22_def_df = cfb_22_df[['Team','Def Rank','Def Plays','Yards Allowed','Yards/Play Allowed','Off TDs Allowed',
                                   'Total TDs Allowed','Yards Per Game Allowed']]
cfb_23_def_df = cfb_23_df[['Team','Def Rank','Def Plays','Yards Allowed','Yards/Play Allowed','Off TDs Allowed',
                                   'Total TDs Allowed','Yards Per Game Allowed']]

In [30]:
# creating top 50 data frames for just defnese
cfb_21_def_df = cfb_21_def_df.head(50).copy()
cfb_22_def_df = cfb_21_def_df.head(50).copy()
cfb_23_def_df = cfb_23_def_df.head(50).copy()

In [31]:
# Extract the conference from the 'Team' column
cfb_21_def_df.loc[:, 'Conference'] = cfb_21_def_df['Team'].str.extract(r'\((.*?)\)')
cfb_22_def_df.loc[:, 'Conference'] = cfb_22_def_df['Team'].str.extract(r'\((.*?)\)')
cfb_23_def_df.loc[:, 'Conference'] = cfb_23_def_df['Team'].str.extract(r'\((.*?)\)')

# Remove the conference part from the 'Team' column
cfb_21_def_df.loc[:, 'Team'] = cfb_21_def_df['Team'].str.replace(r'\(.*?\)', '', regex=True).str.strip()
cfb_22_def_df.loc[:, 'Team'] = cfb_22_def_df['Team'].str.replace(r'\(.*?\)', '', regex=True).str.strip()
cfb_23_def_df.loc[:, 'Team'] = cfb_23_def_df['Team'].str.replace(r'\(.*?\)', '', regex=True).str.strip()

cfb_23_def_df.head()

,Team,Def Rank,Def Plays,Yards Allowed,Yards/Play Allowed,Off TDs Allowed,Total TDs Allowed,Yards Per Game Allowed,Conference
0,LSU,105,882,5416,6.14,47,47,416.6,SEC
1,Oregon,22,893,4458,4.99,26,27,318.4,Pac-12
2,Oklahoma,77,935,5062,5.41,32,35,389.4,Big 12
3,Liberty,58,911,5217,5.73,44,45,372.6,CUSA
4,Georgia,9,848,4047,4.77,26,26,289.1,SEC

In [32]:
# saving the defense dataframes as csv's and placing in the "reduced" folder
cfb_21_def_df.to_csv('reduced/cfb_21_def_top_50.csv', index=False)
cfb_22_def_df.to_csv('reduced/cfb_22_def_top_50.csv', index=False)
cfb_23_def_df.to_csv('reduced/cfb_23_def_top_50.csv', index=False)

In [9]:
# in the following section I was be using SQLalchemy to create tables and import data to a 
# PsotgreSQL server hosted on my local machine.

In [10]:
# import dependencies 
from dotenv import load_dotenv
import os
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, text

In [11]:
# Tables used in below query were created using pgAdmin

# Load environment variables from the .env file
load_dotenv()

# Retrieve the database URL from the environment variable
db_url = os.getenv("DB_URL")

if not db_url:
    raise ValueError("DB_URL is not set. Make sure to configure it in your .env file.")

# Create the engine
engine = create_engine(db_url)

# Test the connection
try:
    with engine.connect() as connection:
        print("Connection successful!")
        # Check tables in the database
        result = connection.execute(
            text("SELECT table_name FROM information_schema.tables WHERE table_schema = 'public';")
        )
        print([row[0] for row in result])
except Exception as e:
    print(f"An error occurred: {e}")

# reflecting the db schema
Base = automap_base()
Base.prepare(engine, reflect=True)

print(Base.classes.keys()) # make sure to dbl check that the table has a primary key assigned 

# access the tables
cfb_23 = Base.classes.cfb_23

# creat a session
session=Session(engine)

# query the db
results = session.query(cfb_23.team, cfb_23.conference, cfb_23.win_loss).all()
print(results)

# closing the session
session.close

Connection successful!
['cfb_22', 'cfb_21', 'cfb_23', 'cfb_22_def_top_50', 'cfb_21_def_top_50', 'cfb_23_def_top_50']

In [1]:
# in the following code I will be using sqlAlchemy to creat tables in postgresql server and importing the data
from sqlalchemy import create_engine, Column, Integer, String, Float
from sqlalchemy.orm import declarative_base, sessionmaker

In [ ]:
# Load environment variables from the .env file
load_dotenv()

# Retrieve the database URL from the environment variable
db_url = os.getenv("DB_URL")

if not db_url:
    raise ValueError("DB_URL is not set. Make sure to configure it in your .env file.")

# Create the engine
engine = create_engine(db_url)

# Test the connection
try:
    with engine.connect() as connection:
        print("Connection successful!")
        # Check tables in the database
        result = connection.execute(
            text("SELECT table_name FROM information_schema.tables WHERE table_schema = 'public';")
        )
        print([row[0] for row in result])
except Exception as e:
    print(f"An error occurred: {e}")

# creating my engine 
engine = create_engine(db_url)

# base class for ORM
Base = declarative_base()

# defining the table
class cfb_21_def(Base):
    __tablename__ = 'cfb_21_def_top_50'
    team = Column(String, primary_key=True, nullable=False)
    def_rank = Column(Integer, nullable=False)
    def_plays = Column(Integer, nullable=False)
    yards_allowed = Column(Integer, nullable=False)
    yards_per_play_allowed = Column(Float, nullable=False)
    off_tds_allowed = Column(Integer, nullable=False)
    total_tds_allowed = Column(Integer, nullable=False)
    yards_per_game_allowed = Column(Float, nullable=False)
    conference = Column(String, nullable=False)

# create the table 
Base.metadata.create_all(engine)

# load the CSV data into a pandas dataframe
csv_file_path = 'reduced/cfb_21_def_top_50.csv'
df = pd.read_csv(csv_file_path)

# check to see if the dataframe matches
print(df.head())

# inserting the data into the DB
df.to_sql('cfb_21_def_top_50', con=engine, if_exists='replace', index=False)

        Team  Def Rank Def Plays Yards Allowed  Yards/Play Allowed  \
0  Air Force         4       737         3,855                5.23
1      Akron       122       783         5,628                7.19
2    Alabama         7       956         4,561                4.77
3  App State        33       923         4,868                5.27
4    Arizona        57       756         4,452                5.89

   Off TDs Allowed  Total TDs Allowed  Yards Per Game Allowed     Conference
0               33                 34                   296.5  Mountain West
1               58                 62                   469.0            MAC
2               34                 36                   304.1            SEC
3               36                 37                   347.7       Sun Belt
4               42                 48                   371.0         Pac-12

50

In [5]:
# Load environment variables from the .env file
load_dotenv()

# Retrieve the database URL from the environment variable
db_url = os.getenv("DB_URL")

if not db_url:
    raise ValueError("DB_URL is not set. Make sure to configure it in your .env file.")

# Create the engine
engine = create_engine(db_url)

# Test the connection
try:
    with engine.connect() as connection:
        print("Connection successful!")
        # Check tables in the database
        result = connection.execute(
            text("SELECT table_name FROM information_schema.tables WHERE table_schema = 'public';")
        )
        print([row[0] for row in result])
except Exception as e:
    print(f"An error occurred: {e}")

# creating my engine 
engine = create_engine(db_url)

# base class for ORM
Base = declarative_base()

# defining the table
class cfb_22_def(Base):
    __tablename__ = 'cfb_22_def_top_50'
    team = Column(String, primary_key=True, nullable=False)
    def_rank = Column(Integer, nullable=False)
    def_plays = Column(Integer, nullable=False)
    yards_allowed = Column(Integer, nullable=False)
    yards_per_play_allowed = Column(Float, nullable=False)
    off_tds_allowed = Column(Integer, nullable=False)
    total_tds_allowed = Column(Integer, nullable=False)
    yards_per_game_allowed = Column(Float, nullable=False)
    conference = Column(String, nullable=False)

# create the table 
Base.metadata.create_all(engine)

# load the CSV data into a pandas dataframe
csv_file_path = 'reduced/cfb_22_def_top_50.csv'
df = pd.read_csv(csv_file_path)

# check to see if the dataframe matches
print(df.head())

# inserting the data into the DB
df.to_sql('cfb_22_def_top_50', con=engine, if_exists='replace', index=False)

        Team  Def Rank Def Plays Yards Allowed  Yards/Play Allowed  \
0  Air Force         4       737         3,855                5.23
1      Akron       122       783         5,628                7.19
2    Alabama         7       956         4,561                4.77
3  App State        33       923         4,868                5.27
4    Arizona        57       756         4,452                5.89

   Off TDs Allowed  Total TDs Allowed  Yards Per Game Allowed     Conference
0               33                 34                   296.5  Mountain West
1               58                 62                   469.0            MAC
2               34                 36                   304.1            SEC
3               36                 37                   347.7       Sun Belt
4               42                 48                   371.0         Pac-12

50

In [8]:
# Load environment variables from the .env file
load_dotenv()

# Retrieve the database URL from the environment variable
db_url = os.getenv("DB_URL")

if not db_url:
    raise ValueError("DB_URL is not set. Make sure to configure it in your .env file.")

# Create the engine
engine = create_engine(db_url)

# Test the connection
try:
    with engine.connect() as connection:
        print("Connection successful!")
        # Check tables in the database
        result = connection.execute(
            text("SELECT table_name FROM information_schema.tables WHERE table_schema = 'public';")
        )
        print([row[0] for row in result])
except Exception as e:
    print(f"An error occurred: {e}")

# creating my engine 
engine = create_engine(db_url)

# base class for ORM
Base = declarative_base()

# defining the table
class cfb_23_def(Base):
    __tablename__ = 'cfb_23_def_top_50'
    team = Column(String, primary_key=True, nullable=False)
    def_rank = Column(Integer, nullable=False)
    def_plays = Column(Integer, nullable=False)
    yards_allowed = Column(Integer, nullable=False)
    yards_per_play_allowed = Column(Float, nullable=False)
    off_tds_allowed = Column(Integer, nullable=False)
    total_tds_allowed = Column(Integer, nullable=False)
    yards_per_game_allowed = Column(Float, nullable=False)
    conference = Column(String, nullable=False)

# create the table 
Base.metadata.create_all(engine)

# load the CSV data into a pandas dataframe
csv_file_path = 'reduced/cfb_23_def_top_50.csv'
df = pd.read_csv(csv_file_path)

# check to see if the dataframe matches
print(df.head())

# inserting the data into the DB
df.to_sql('cfb_23_def_top_50', con=engine, if_exists='replace', index=False)

       Team  Def Rank  Def Plays  Yards Allowed  Yards/Play Allowed  \
0       LSU       105        882           5416                6.14
1    Oregon        22        893           4458                4.99
2  Oklahoma        77        935           5062                5.41
3   Liberty        58        911           5217                5.73
4   Georgia         9        848           4047                4.77

   Off TDs Allowed  Total TDs Allowed  Yards Per Game Allowed Conference
0               47                 47                   416.6        SEC
1               26                 27                   318.4     Pac-12
2               32                 35                   389.4     Big 12
3               44                 45                   372.6       CUSA
4               26                 26                   289.1        SEC

50